



.holder {
	display: grid; 
	grid-template-columns: 100px 100px 100px;
	width:100px;
	height:100px;
}

.item {
  
  /* width: 80px;
  height: 80px; */
  color: black; 
  font-size: 20px; 
}

.item:nth-child(1) {
  background-color: red;
}

.item:nth-child(2) {
  background-color: blue;
}

.item:nth-child(3) {
  background-color: green;
  grid-row:1/2;
}
